<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Add Classes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type = "text/javascript"> var list_of_classes={{list_of_classes|tojson}}</script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body style="background-color: #1A1B1B; color: #cc0033;">
    <div id="ru-logo-sm"><img src="{{ url_for('static', filename='img/rutgers.png') }}" alt="rutgers logo" /></div>
    <div class="search-bar">
      <p>Add your classes</p>
        {% from "_formhelpers.html" import render_field %}
        <form method=post action="/pick_classes/">
            <dl>
                {{form.class_list(id = "addedClasses")}}
                <input type="text" id="search-container" name = class_list placeholder="Search..." onkeyup="wait()"/>
            </dl>
        <ul id="search-results"></ul>
        <!--<button type="submit" onclick = "submitData()"> <i class="fa fa-arrow-right fa-3x" id="next"></i></button>-->
    </div>
    <ul id="class-cells"></ul>
        <div>
           <button type="submit" onclick = "submitData()"><i class="fa fa-arrow-right fa-3x"></i></button>
        </div>
    </form>
    <script>
    function submitData(){
        var added = getAdded()
        document.getElementById("addedClasses").value = added
        }
    </script>
  </body>
</html>
