<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".signup-form").hide();
            $(".signup").css("background", "#cc0033");
            $(".signup").css("color", "black");

            $(".login").click(function () {
                $(".signup-form").hide();
                $(".login-form").show();
                $(".signup").css("background", "#cc0033")
                $(".signup").css("color", "black");
                $(".login").css("background", "black");
                $(".login").css("color", "#cc0033");
            });

            $(".signup").click(function () {
                $(".login-form").hide();
                $(".signup-form").show();
                $(".signup").css("background", "black")
                $(".signup").css("color", "#cc0033");
                $(".login").css("background", "#cc0033");
                $(".login").css("color", "black");
            });
        });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Welcome!</title>
</head>

<body>
	<div id="ru-logo"><img src="{{ url_for('static', filename='img/rutgers.png') }}" alt="rutgers logo"></div>
    <div class="container">
        <div class="login">Sign In</div>
        <div class="signup">Register</div>

        <div class="signup-form">
            {% from "_formhelpers.html" import render_field %}
            <form method=post action="/register/">
                <dl>
                    <!-- {{render_field(form.firstname)}}
                    {{render_field(form.lastname)}}
                    {{render_field(form.email)}}
                    {{render_field(form.password)}}
                    {{render_field(form.confirm)}} -->
                    {{form.firstname(class_="input", placeholder="First Name")}}
                    {{form.lastname(class_="input", placeholder="Last Name")}}
                    {{form.email(class_="input", placeholder="Email")}}
                    {{form.password(class_="input", placeholder="Password")}}
                    {{form.confirm(class_="input", placeholder="Confirm Password")}}
                </dl>
                <input class="btn btn-default" type=submit value="REGISTER">
            </form>
            {% if error %}
                <p class="error"><strong>Error:</strong>{{error}}</p>
            {% endif %}
            <!-- <form action="/register/" method="post">
                <input type="text" value="{{request.form.firstname}}" class="input" placeholder="First name" name="firstname"><br>
                <input type="text" value="{{request.form.lastname}}" class="input" placeholder="Last name" name="lastname"><br>
                <input type="text" value="{{request.form.email}}" class="input" placeholder="Email" name="email"><br>
                <input type="password" value="{{request.form.password}}" class="input" placeholder="Password" name="password"><br>
                <input type="password" value="{{request.form.password_conf}}" class="input" placeholder="Confirm password" name="password_conf"><br>
                <input class="btn btn-default" type="submit" value="REGISTER">
            </form> -->
        </div>

        <div class="login-form">
            {% from "_formhelpers.html" import render_field %}
            <form action="/login/" method="post">
                <p class="red" style="margin-bottom: 30px;">Welcome back!</p>
                <d1>
                {{form.email(class_="input", placeholder = "Email")}}
                {{form.password(class_="input", placeholder="Password")}}
                </d1>
                <input class="btn btn-default" type="submit" value="SIGN IN">
                <!-- <div class="btn">SIGN IN</div> -->
            </form>
            {% if error%}
                <p class="error"><strong>Error:</strong>{{error}}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>
