<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Loads bootstrap -->
<!--     <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Loads CSS for welcome from static folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type = "text/javascript"> var title_list={{title_list|tojson}}</script>
    <script type = "text/javascript"> var creator_list={{creator_list|tojson}}</script>
    <script type = "text/javascript"> var post_list={{post_list|tojson}}</script>
    <script type = "text/javascript"> var active_users={{active_users|tojson}}</script>
    <script type = "text/javascript"> var name={{name|tojson}}</script>
    <script type = "text/javascript"> var thread_nums={{thread_nums|tojson}}</script>
    <script type = "text/javascript"> var replies1={{replies1|tojson}}</script>
    <script type = "text/javascript"> var replies2={{replies2|tojson}}</script>
    <script type = "text/javascript"> var replies3={{replies3|tojson}}</script>
    <script type = "text/javascript"> var classes={{classes|tojson}}</script>
    <script>
        function test(n){
        if (n === 0){
            addOverlay('post-expanded')
            }
        if (n === 1){
            addOverlay('post-expanded1')
            }
        if (n === 2){
            addOverlay('post-expanded2')
            }
        }
    </script>
    <!-- <link rel="stylesheet" href="css/main.css" />
    <script src="js/main.js"></script> -->
    <title>Home Page</title>
  </head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between fixed-top" style="padding: 0; z-index: 2;">
<!--   <img src="../static/img/rutgers-logo.png" id="logo" class="navbar-brand" style="width: 175px;height:75px;" href="#" alt="rutgers-logo"> -->
  <img src="{{ url_for('static', filename='img/rutgers-logo.png') }}" id="logo" class="navbar-brand" style="width: 175px;height:75px;" href="#" alt="rutgers-logo">

  <div class="">
    <form class="form-inline col-4">
      <input class="form-control " type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
  <!--
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
-->
  <div class="">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="#"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
      <a class="nav-item nav-link" onclick="addOverlay('question')"><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i></a>
      <a class="nav-item nav-link" href="#"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
    </div>

  
</nav>

  <div id="overlay" onclick=removeOverlay()></div>
  <div id="question">
  {% from "_formhelpers.html" import render_field %}
    <form method=post action="/create_new_post/">
        <p>Ask a question</p>
        <dl>
            {{form.title(class_="input", placeholder = "Title", id = "title-container", style = "margin-bottom: 0px;")}}
            {{form.post(placeholder = "Ask your question here", rows = "12", cols = "50", style = "resize: none")}}
            {{form.class_name}}
        </dl>
        <div class="postDiv">
            <a href="#" type="submit" id="post">POST </a>
          </div>
    </form>
  </div>

  <!-- 
    <div id="question">
        <form method=post actio="/welcome_page/">
            <dl>
                <input class="input" id="title-container" name="title" placeholder="Title" type="text" value="">
                <textarea cols="50" id="post" name="post" placeholder="Ask your question here" rows="12" style="resize: none"></textarea>
                <select id="class_name" name="class_name"><option value="C">C</option><option value="Computer Networks">Computer Networks</option><option value="Software Engineerining">Software Engineering</option></select>
            </dl>
            <input class="btn btn-default" type=submit value="SUBMIT">
        </form>
    </div>

  -->
  <div class="container-fluid">
    <div class="row">
      <div  id="left-bar">
        <ul style="list-style-type: none; font: Sansation-bold;" class="text-nowrap">
          <li class="pb-2 bottom-border" style="padding: .50rem .75rem 1rem 1rem">Operating Systems</li>
          <li class="pb-2 bottom-border" style="padding: .50rem .75rem 1rem 1rem">Computer Networks</li>
          <li class="pb-2 bottom-border" style="padding: .50rem .75rem 1rem 1rem">Spanish 3</li>
          <li class="pb-2 bottom-border" style="padding: .50rem .75rem 1rem 1rem">Calculus 6</li>
        </ul>
        <div onclick="addOverlay('new-class')" class=" text-center"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
      </div>

      <div id="new-class">
        <form>
          <p>Add class</p>
          <div class="form-group">
            <label for="course-title">Course Title</label>
            <input type="text" id="course-title" placeholder="Course title"/>
          </div>
          <div class="form-group">
            <label for="course-num">Course Number</label>
            <input type="text" id="course-num" placeholder="Course number"/>
          </div>
          <div class="postDiv" styles="text-center">
            <a href="#" id="post">POST </a>
          </div>
        </form>
      </div>

     <div class="card" id="post-expanded">
     <div class="card-header">
     <span class="subject-header">Physics</span>
     </div>
     <div class="card-body" style="padding-bottom: 0;">
     <h5 class="card-title d-flex justify-content-between">
     <div class="user ">{{creator_list[0]}} asks...</div>
     <div class="title ">{{title_list[0]}}</div>
     <div class="likes ">12 <i class="fa fa-thumbs-o-up" style="font-size:20px"></i>
     </div>
     </h5>
     <p class="card-text" style="margin-bottom: 0;">
     {{post_list[0]}}
     <br>
     {{replies1}}
     </p>
     <p class="card-text" style="margin-top: 0; margin-bottom: 0;">
     <div class="answer-count" style="display: inline-block">3 answers</div>
      <div class="save" style="display: inline-block"><i class="fa fa-star-o" style="font-size:15px"></i> Save</div>
      </p>
      </div>
      <div class="form-group" style="padding:0 2rem;">
      <label for="answer">Answer:</label>
      <form method = post action = "/1/">
      {{formAnswer.answer(placeholder = "Help us answer the question!", class_ = "form-control red-border", rows = "5", cols = "50", style = "resize: none")}}
      <button type = submit style="margin-top: 8px; padding: 5px;"> Submit </button>
      <form>
      <!--<textarea class="form-control red-border" id="answer" rows="3" placeholder="Help us answer the question!"></textarea>-->
      </div>
      </div>

      <div id="post-overlay" onclick=removeOverlay()></div>
      <div class="card" id="post-expanded1">
      <div class="card-header">
      <span class="subject-header">Physics</span>
      </div>
      <div class="card-body" style="padding-bottom: 0;">
      <h5 class="card-title d-flex justify-content-between">
      <div class="user ">{{creator_list[1]}} asks...</div>
      <div class="title ">{{title_list[1]}}</div>
      <div class="likes ">12 <i class="fa fa-thumbs-o-up" style="font-size:20px"></i></div>
      </h5>
      <p class="card-text" style="margin-bottom: 0;">
      {{post_list[1]}}
      {{replies2}}
      </p>
      <p class="card-text" style="margin-top: 0; margin-bottom: 0;">
      <div class="answer-count" style="display: inline-block">3 answers</div>
      <div class="save" style="display: inline-block"><i class="fa fa-star-o" style="font-size:15px"></i> Save</div>
      </p>
      </div>
      <div class="form-group" style="padding:0 2rem;">
      <label for="answer">Answer:</label>
      <textarea class="form-control red-border" id="answer" rows="3" placeholder="Help us answer the question!"></textarea>
      </div>
      </div>

      <div id="post-overlay" onclick=removeOverlay()></div>
      <div class="card" id="post-expanded2">
        <div class="card-header">
          <span class="subject-header">Physics</span>
        </div>
        <div class="card-body" style="padding-bottom: 0;">
          <h5 class="card-title d-flex justify-content-between">
            <div class="user ">{{creator_list[2]}} asks...</div>
            <div class="title ">{{title_list[2]}}</div>
            <div class="likes ">12 <i class="fa fa-thumbs-o-up" style="font-size:20px"></i></div>
          </h5>
          <p class="card-text" style="margin-bottom: 0;">
          {{post_list[2]}}
          {{replies3}}
          </p>
          <p class="card-text" style="margin-top: 0; margin-bottom: 0;">
          <div class="answer-count" style="display: inline-block">3 answers</div>
          <div class="save" style="display: inline-block"><i class="fa fa-star-o" style="font-size:15px"></i> Save</div>
          </p>
        </div>

        <div class="form-group" style="padding:0 2rem;">
          <label for="answer">Answer:</label>
          <textarea
            class="form-control red-border"
            id="answer"
            rows="3"
            placeholder="Help us answer the question!"
          ></textarea>
        </div>
        
      </div>

      <div class="col-8" style="
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
  ">

        <h1 class="text-center pb-3" >Good Morning, {{ name }}!</h1>
        <ul class="segment-control">
          <li class="segment-control-item">
            <input class="segment-control-input" type="radio" value="1" name="option" id="option-1" checked>
            <label class="segment-control-label" for="option-1">answered</label>
            <div class="answered-content content"  >
              <!-- ANSWERED CONTENT FOR SEGMENT CONTROL -->
              {% for n in range(3) %}
              <div
                onclick="test({{n}})"
                class="card card-hover-effect"
                style="
                margin-top: 2rem;
                margin-bottom: 2rem;
              "

              >

                <div class="card-body" style=" 
                box-shadow: 2.5px 2.5px 2.5px 2.5px rgb(187, 185, 185)">
                  <div class="card-title d-flex justify-content-between">
                    <div class="user">{{creator_list[n]}} asks</div>
                    <div class="title">{{title_list[n]}}</div>
                    <div class="likes">
                      12 <i class="fa fa-thumbs-o-up" style="font-size:20px"></i>
                    </div>
                  </div>
                  <p class="card-text">
                    {{post_list[n]}}
                  </p>
                  <div class="text-right">
                    <a href="#" class="card-link">2 answers</a>
                    <a href="#" class="card-link">Save</a>
                  </div>
                </div>
              </div>
              {% endfor %}
             <!--<div onclick="test({{n}})" class="card card-hover-effect" style="margin-top: 2rem; margin-bottom: 2rem;">-->



              <!--<div
              onclick="addOverlay('post-expanded')"
                class="card card-hover-effect"
                style="
                margin-top: 2rem;
                margin-bottom: 2rem;
              "
              >-->
              
               <!-- <div class="card-body" style=" 
                box-shadow: 2.5px 2.5px 2.5px 2.5px rgb(187, 185, 185)">
                  <div class="card-title d-flex justify-content-between">
                    <div class="user">John asks</div>
                    <div class="title">What is a semaphore?</div>
                    <div class="likes">
                      12 <i class="fa fa-thumbs-o-up" style="font-size:20px"></i>
                    </div>
                  </div>
                  <p class="card-text">
                    Question details. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                  </p>
                  <div class="text-right">
                    <a href="#" class="card-link">2 answers</a>
                    <a href="#" class="card-link">Save</a>
                  </div>
                </div>
              </div>

              <div
                class="card"
                style="
              margin-bottom: 2rem;
              "
              >
                <div class="card-body" style=" 
                box-shadow: 2.5px 2.5px 2.5px 2.5px rgb(187, 185, 185)">
                  <div class="card-title d-flex justify-content-between">
                    <div class="user">Jeff asks...</div>
                    <div class="title">When should I use a semaphore?</div>
                    <div class="likes">
                      2 <i class="fa fa-thumbs-o-up" style="font-size:20px"></i>
                    </div>
                  </div>
                  <p class="card-text">
                    Question details. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.
                  </p>
                  <div class="text-right">
                    <a href="#" class="card-link">5 answers</a>
                    <a href="#" class="card-link">Save</a>
                  </div>
                </div>
              </div>
              -->
              <!-- END ANSWERED QUESTIONS -->
              
            </div>
          </li>
          <li class="segment-control-item">
            <input class="segment-control-input" type="radio" value="2" name="option" id="option-2">
            <label class="segment-control-label" for="option-2">unanswered</label>
            <div class="unanswered-content content"  >
              <!-- UNANSWERED CONTENT FOR SEGMENT CONTROL -->
              <div onclick="addOverlay('post-expanded')" class="card card-hover-effect" style="
                margin-top: 2rem;
                margin-bottom: 2rem;
              ">
                <div class="card-body">
                  <div class="card-title d-flex justify-content-between">
                    <div class="user ">Meredith asks...</div>
                    <div class="title ">What is normal force?</div>
                    <div class="likes">
                      0 <i class="fa fa-thumbs-o-up" style="font-size:20px"></i>
                    </div>
                  </div>
                  <p class="card-text">
                    Question details. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                  </p>
                  <div class="text-right">
                    <a href="#" class="card-link">0 answers</a>
                    <a href="#" class="card-link">Save</a>
                  </div>
                </div>
              </div>
              <!-- END UNANSWERED CONTENT -->
            </div>
          </li>
          <li class="segment-control-item">
            <input class="segment-control-input" type="radio" value="3" name="option" id="option-3">
            <label class="segment-control-label" for="option-3">me</label>
            <div class="my-content content">
              <!-- MY CONTENT FOR SEGMENT CONTROL -->
              <div class="card" style="
                margin-top: 2rem;
                margin-bottom: 2rem;
                ">
                <div class="card-body">
                  <div class="card-title d-flex justify-content-between">
                    <div class="user">Eddy asks...</div>
                    <div class="title">What is the derivative of e^x?</div>
                    <div class="likes">
                      3 <i class="fa fa-thumbs-o-up" style="font-size:20px"></i>
                    </div>
                  </div>
                  <p class="card-text">
                    Question details. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.
                  </p>
                  <div class="text-right">
                    <a href="#" class="card-link">6 answers</a>
                    <a href="#" class="card-link">Save</a>
                  </div>
                </div>
              </div>
              <!-- END MY CONTENT -->
            </div>
          </li>
        </ul>
      </div>

      <div class="column col-xs-3" id="sidebar">
        <div class="col">
          <div class="row">
            <h4 style="padding-right: 100px;">Online</h4>
            <div class="col">
              <ul style="list-style-type: none;" class="text-nowrap">
              {% for m in range(3) %}
                {% if active_users[m] %}
                    <li class="pb-2"><i class = "fa fa-circle" style = "color: green"></i> {{active_users[m]}}</li>
                {% endif %}
              {% endfor %}
                <!--<li class="pb-2">Jeff Cave</li>
                <li class="pb-2">Dom Scola</li>
                <li class="pb-2">Meredith Alcorn</li>-->
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <h4>Class Chats</h4>
            <div class="col">
              <ul style="list-style-type: none;">
                <li class="pt-2"><i class="fa fa-circle" style="color: green"></i> Operating Syste.</li>
                <li class="pt-2"><i class="fa fa-circle" style="color: green"></i> Computer Netw.</li>
                <li class="pt-2"><i class="fa fa-circle" style="color: green"></i> Physics 3</li>
                <li class="pt-2"><i class="fa fa-circle" style="color: green"></i> Spanish 3</li>
                <li class="pt-2"><i class="fa fa-circle" style="color: green"></i> Calculus 6</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
